@import "../../Assets/Scss/Required.scss";

.signInContainer {
  display: flex;
  .sideImg {
    width: 50%;
  }
  .signInForm {
    width: 50%;
    overflow-y: scroll;
    height: 100vh;
    padding: $appPadding;
    .sectionContainer {
      @include sectionContainer;
      .fieldRow {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .radioGroup {
          display: flex;
          justify-content: flex-start;
          width: 47%;
          align-items: center;
          margin-top: 0.4rem;
          .label {
            margin-right: 1.2rem;
            font-weight: 600;
            color: $appColor;
          }
        }
        .fileUploader {
          width: 47%;
          height: 2rem;
          display: flex;
          align-items: center;
          margin-top: 0.4rem;
        }
      }
    }
  }
}
