@import "../../Assets//Scss/Constants.scss";

.portfoliosContent {
  width: 85%;
  border: 1px solid $appColor;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: $appPadding;
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
  .portfoliosContentHeader {
    display: flex;
    justify-content: flex-end;
    margin-bottom: $appPadding;
  }
}
