@import "./Assets/Scss/Required.scss";

#root {
  font-family: "Roboto", sans-serif;
}

.ant-modal-root {
  font-family: "Roboto", sans-serif;
  .ant-modal {
    margin-top: 50px;
    margin-bottom: 50px;
    //   height: calc(100vh - 100px);
    top: 0px;
    bottom: 0px;
    //   overflow-y: auto;

    // Update Image controls
    .controls {
      align-self: center;
      display: flex;
      justify-content: space-around;
      width: 15rem;
      margin-bottom: $appPadding;
      .imgControl {
        text-decoration-line: underline;
        color: $appColor;
        // margin-left: 1rem;
        cursor: pointer;
      }
      .custom-file-upload {
        border: none;
        display: inline-flex;
        align-items: center;
      }
    }
  }
}

.modalSectionSeperator {
  border-top: 1px solid $appColor;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.error-tooltip {
  box-shadow: 0 0 0 0 rgba(255, 101, 99, 0.27);
  .ant-tooltip-arrow::before {
    background: #ff6563;
  }
  .ant-tooltip-inner {
    background: #ff6563;
    color: #ffffff;
  }
}
