@import "../../Assets//Scss/Constants.scss";

.portfoliosDescription {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-family: "Pacifico";
  transition: all 1s;
  color: white;
}

.descriptionDrawerWrapper {
  display: flex;
  justify-content: center;
}
