@import "../../Assets/Scss/Required.scss";

.formikTextAreaField {
  .ant-input {
    border-radius: 0.3rem;

    &:hover,
    &:focus {
      border-color: $appColor;
      box-shadow: $appColorFieldShadow;
    }
    &.invalid {
      border-color: $errorColor;
      box-shadow: $errorColorFieldShadow;
    }
  }
}
