@import "../../Assets/Scss/Constants.scss";

.portfoliosContainer {
  display: flex;
  justify-content: flex-end;

  .portfoliosDetail {
    display: flex;
    flex-direction: column;
    width: 100%;
    // width: calc(100% - 60px);
    // justify-content: flex-end;
    height: 100vh;
  }
}
