$appColor: #11649b;
$appColorFieldShadow: 0 0 0 0.3rem rgba(17, 100, 155, 0.2);
$errorColor: #ff0000;
$errorColorFieldShadow: 0 0 0 0.3rem rgba(255, 0, 0, 0.2);
$appPadding: 1rem;
$headingFont: 2rem;
