@import "../../Assets/Scss/Required.scss";

.ant-input-search {
  .ant-input-affix-wrapper {
    &:focus,
    &:hover {
      border-color: $appColor;
      box-shadow: $appColorFieldShadow;
    }
    &.ant-input-affix-wrapper-focused {
      border-color: $appColor;
      box-shadow: $appColorFieldShadow;
    }
  }
}
