@import "../../Assets//Scss/Constants.scss";

.portfoliosSideBar {
  // width: 100%;
  padding: $appPadding;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100vh;
}

.collapsedDrawrWrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.userUpdateForm {
  display: flex;
  flex-direction: column;

  input[type="file"] {
    display: none;
  }

  .controls {
    align-self: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: $appPadding;
  }

  .imgControl {
    text-decoration-line: underline;
    color: $appColor;
    margin-left: 1rem;
    cursor: pointer;
  }
  .custom-file-upload {
    border: none;
    display: inline-flex;
    align-items: center;
  }
}

.fileUploaderResume {
  margin-top: $appPadding;
  display: flex;
  .downloadAnchor {
    align-self: center;
    padding-left: $appPadding;
    color: $appColor;
    font-size: 14px;
    text-decoration: underline;
  }
}

.drawerHandle {
  position: absolute;
  left: 0;
  top: 40px;

  // .openDrawerHandle {
  //   // transition: all 0.3s;
  //   // zindex: 1009;
  //   // position: fixed;
  //   // transition: "all 0.3s";
  //   // z-index: 1009;

  //   transition: "all 0.3s";
  //   z-index: 1009;
  //   position: "fixed";
  //   left: 256px;
  // }
}
