@import "../../Assets//Scss/Constants.scss";

.portfoliosSideBar {
  width: 15%;
  border: 1px solid $appColor;
  padding: $appPadding;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.fileUploaderResume {
  margin-top: $appPadding;
  display: flex;
  .downloadAnchor {
    align-self: center;
    padding-left: $appPadding;
    color: $appColor;
    font-size: 14px;
    text-decoration: underline;
  }
}
